.icon-bandera {
    width: 20px;
    margin-bottom: 1.5px;
}

.contain-banderas {
    margin-right: -40px;
}

.p-servicios {
    color: #ffffff;
}

.wide-text {
    max-width: 100%; /* Ajusta este valor según sea necesario */
    margin: 0 auto; /* Centra el contenedor */
  }

  .wide-text h2 {
    max-width: 100%; /* Asegúrate de que el h2 ocupe el 100% del contenedor */
    margin: 0 auto; /* Centra el h2 */
    text-align: center; /* Justifica el texto para que ocupe más espacio horizontal */
  }